.chatList-body {
    height: 100%;
}

.chatList-main {
    padding: 8px 16px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.chatList-main:hover {
    background-color: #333;

    cursor: pointer;
}

.group-img {
    width: 56px;
    height: 56px;

    border-radius: 50%;
}

.group-title {
    width: 100%;
    height: auto;

    padding: 0px 0px 0px 12px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.unreadDot {
    padding-left: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
}
