.chat-header {
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

.study-group-img {
    width: 40px;
    height: 40px;

    margin-right: 12px;

    border-radius: 50%;
}

.study-group-name {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    font-weight: 600;
}

.icon {
    width: 36px;
    height: 36px;
}
