body {
    margin: 0;
    padding: 0;

    color: white;
    background-color: #000;

    font-family: "Pretendard", Arial;
}

#header {
    width: 100%;
}
#container {
    width: 100%;
}
#footer {
    width: 100%;
    text-align: center;
}
